services:
  api:
    build: .
    container_name: nest-api
    ports:
      - "3000:3000"
    env_file:
      - .env.production.local
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
